<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- locals.titulo %></title>
    <link rel="stylesheet" href="/css/estilo-crear-cuenta.css">
    <link rel="stylesheet" href="/css/estilo-comun.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&family=Shadows+Into+Light+Two&display=swap" rel="stylesheet">
</head>
<body>
    <%- body %>

    <script src="/scripts/crear-cuenta.js"></script>
</body>
</html>