<div class="contenedor">
    <div class="crear-cuenta">
        <div class="avatar">
            <div class="color"></div>
            <div class="avatar-imagen avatar-uno"></div>
            <div class="avatar-imagen avatar-dos"></div>
            <div class="avatar-imagen avatar-tres"></div>
            <div class="avatar-imagen avatar-cuatro"></div>
            <div class="avatar-imagen avatar-cinco"></div>
        </div>
        <input type="text" placeholder="Nombre_">
        <input type="text" placeholder="Apellidos_">
        <input type="email" placeholder="Correo electrónico_">
        <div class="contenedor-contrasena">
            <input type="password" placeholder="Contraseña_">
            <span class="material-icons-outlined icono-ojo" style="font-size: 1em; color: #F4E5E0;">
                visibility_off
            </span>
            <span class="material-icons-outlined eye-off-icon" style="font-size: 1em; color: #F4E5E0; display: none;">
                visibility
            </span>
        </div>
        <button class="boton-reverso doble">Crear cuenta</button>
    </div>
    <div class="inicio-sesion">
        <h2>¿Ya tienes cuenta? <br/> Inicia sesión</h2>
        <div class="botones">
            <button class="boton doble">Iniciar sesión</button>
            <button class="boton doble" style="background-color: #FF3131;">Google</button>
        </div>
    </div>
</div>
