<div class="contenedor">
  <form action="/app-notas/edicion-nota/<%= notaId %>?_method=PUT" method="POST">
    <div class="contenido">
      <div class="titulos">
        <textarea name="titulo" class="transparent-input" id="titulo-nota"><%= nota.titulo %></textarea>
      </div>
      <div class="texto">
        <div class="resaltado" id="div-resaltado">
          <textarea id="cuerpo-nota" class="transparent-input" name="cuerpo"><%= nota.cuerpo %></textarea>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="footer-icons">
        <span class="material-symbols-outlined"><a href="/app-notas/notas"
            style="color: #F4E5E0; font-size: 40px;">home</a></span>
        <button type="submit" class="material-symbols-outlined" style="color: #F4E5E0; font-size: 40px;">save</button>
        <button id="borrar-nota" type="button" style="color: #F4E5E0; font-size: 40px;" onclick="borrarNota()">
          <span class="material-symbols-outlined">delete</span>
        </button>
      </div>
    </div>
  </form>
  <form id="borrar-nota-form" action="/app-notas/edicion-nota/<%= notaId %>?_method=DELETE" method="POST" style="display: none;">
    <input type="hidden" name="_method" value="DELETE">
  </form>
</div>