<body class="index">
  <div class="barra-negra"></div>
  <div class="contenedor">
    <div class="contenido-centrado">
      <h1>Aplicación de notas</h1>
      <div class="contenedor-inicio-sesion">
        <button class="boton rojo"><a href="/auth/google">Google</a></button>
      </div>
    </div>
  </div>
  <div class="barra-negra"></div>
</body>