<div class="barra-negra"></div>
<div class="contenedor">
  <div class="contenido-centrado">
    <h1>Aplicación de notas</h1>
    <button class="boton">Crear cuenta</button>
    <p>Si ya tienes una cuenta, <a href="#"><b>inicia sesión</b></a></p>
  </div>
</div>
<div class="barra-negra"></div>
