<div class="barra-negra"></div>
<span class="material-symbols-outlined" style="font-size: 70px; color: #252627;";>
    arrow_back
    </span>
<div class="contenido">
  <h2>Mis notas_</h2>
  <div class="contenedor-inicio-sesion">
    <div class="campo">Correo electrónico_</div>
    <div class="campo">Contraseña_</div>
    <button class="boton">Iniciar sesión</button>
    <p>También puedes <a href="#"><b>crear una cuenta</b></a></p>
  </div> 
</div>


