<div class="barra-negra"></div>
<span class="material-symbols-outlined" style="font-size: 70px; color: #252627;">
    arrow_back
</span>
<div class="contenido">
  <h2>Mis notas_</h2>
  <div class="contenedor-inicio-sesion">
    <div class="campo">
      <input type="email" placeholder="Correo electrónico_" class="campo-input">
    </div>
    <div class="campo campo-contrasena">
      <input type="password" placeholder="Contraseña_" class="campo-input">
      <span class="material-icons-outlined visibilidad-contrasena-icono" style="color: #F4E5E0;">
        visibility_off
      </span>
    </div>
    <button class="boton">Iniciar sesión</button>
    <p>También puedes <a href="crear-cuenta"><b>crear una cuenta</b></a></p>
  </div> 
</div>
