<div class="barra-negra"></div>
<span class="material-symbols-outlined" style="font-size: 70px; color: #252627;">
  <a href="crear-cuenta">arrow_back</a>
</span>
<div class="contenido">
  <h2>Mis notas</h2>
  <div class="contenedor-inicio-sesion">
    <form action="/iniciar-sesion" method="POST">
      <div class="campo">
        <input type="email" name="email" placeholder="Correo electrónico" class="campo-input" required>
        <div class="mensaje-error" style="display: none;"></div>
      </div>
      <div class="campo">
        <div class="contenedor-contrasena">
            <input type="password" class="form" placeholder="Contraseña_" name="password" required>
            <span class="material-icons-outlined icono-ojo" style="font-size: 1em;">visibility_off</span>
            <span class="material-icons-outlined icono-ojo-cerrado"
            style="font-size: 1em; display: none;">visibility</span>
            <div class="mensaje-error" style="display: none; margin-left: 30px;"></div>
        </div>
    </div>
      <button type="submit" class="boton">Iniciar sesión</button>
    </form>
    <p>También puedes <a href="crear-cuenta"><b>crear una cuenta</b></a></p>
  </div>
</div>