<div class="titulo-avatar-buscador">
  <div class="titulo-avatar">
    <h1>¡ Hola, <br/> <%= nombre %> !</h1>
    <div class="avatar"></div>
  </div>
  <div class="buscador">
    <input type="text" placeholder="Buscar...">
    <span class="material-symbols-outlined">search</span>
  </div>
  <span class="material-symbols-outlined" style="color: #252627; font-size: 50px;"><a href="cerrar-sesion">logout</a></span>
</div>

<div class="contenido">
  <div class="nueva-nota">
    <div id="circulo-mas" class="circulo" style="background-color: #252627; color: #F4E5E0;">+</div>
    <div class="circulo oculto" style="background-color: #577590;"></div>
    <div class="circulo oculto" style="background-color: #43AA8B;"></div>
    <div class="circulo oculto" style="background-color: #90BE6D;"></div>
    <div class="circulo oculto" style="background-color: #F9C74F;"></div>
    <div class="circulo oculto" style="background-color: #F8961E"></div>
    <div class="circulo oculto" style="background-color: #F27E5A"></div>
    <div class="circulo oculto" style="background-color: #F94144"></div>
  </div>

  <div class="centrar-grid">
    <div class="notas-grid">
      <% if(notas.length > 0) { %>
        <% notas.forEach(nota => { %>
          <a href="/edicion-nota/<%= nota._id %>" class="nota">
            <div class="contenido-nota">
              <h3><%= nota.titulo || "Título de la nota" %></h3>
              <p><%= nota.cuerpo || "Texto de la nota" %></p>
            </div>
            <div class="flecha">
              <span class="material-icons">arrow_forward</span>
            </div>
          </a>
        <% }); %>
      <% } %>
    </div>
  </div>
  <span class="material-symbols-outlined boton-subir" style="color: #252627; font-size: 50px;">expand_less</span>
</div>
