<div class="titulo-avatar-buscador">
    <div class="titulo-avatar">
      <h1>¡ Hola,<br/>Roxana !</h1>
      <div class="avatar"></div>
    </div>
    <div class="buscador">
      <input type="text" placeholder="Buscar...">
      <span class="material-symbols-outlined">search</span>
    </div>
  </div>
  
  <div class="contenido">
    <div class="nueva-nota">
        <div id="circulo-mas" class="circulo" style="background-color: #252627; color: #F4E5E0;">+</div>
        <div class="circulo oculto" style="background-color: #577590;"></div>
        <div class="circulo oculto" style="background-color: #43AA8B;"></div>
        <div class="circulo oculto" style="background-color: #90BE6D;"></div>
        <div class="circulo oculto" style="background-color: #F9C74F;"></div>
        <div class="circulo oculto" style="background-color: #F8961E"></div>
        <div class="circulo oculto" style="background-color: #F27E5A"></div>
        <div class="circulo oculto" style="background-color: #F94144"></div>
      </div>           
    <div class="notas">
      <div class="nota">
        <div class="contenido-nota">
          <h3>Título de la nota</h3>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. A rem magnam necessitatibus repellendus officia, non quisquam ipsam similique beatae, labore ut.</p>
        </div>
        <div class="flecha">
          <span class="material-icons">arrow_forward</span>
        </div>
      </div>
    </div>
  </div>