<div class="barra-negra"></div>
<div class="contenedor">
  <div class="contenido-centrado">
    <h2>Lo siento, no estás autorizado <br/> para acceder a esta página</h2>
    <button class="boton"><a href="/">Ir a inicio</a></button>
  </div>
</div>
<div class="barra-negra"></div>
