.contenido {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 140px);
}

.texto {
  width: 100%;
  height: auto;
  padding: 20px;
  border-left: 3px solid #252627;
  align-self: center;
}

.resaltado {
  width: 100%;
  height: auto;
  padding: 20px;
  background-color: #F27E5A;
  border-radius: 15px;
}

/* Estilo para los inputs transparentes */
.transparent-input {
  border: none;
  outline: none;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  max-width: 80vw;
  height: auto;
}

#titulo-nota {
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 2.5em;
  color: #252627;
  line-height: 60px;
}

textarea {
  width: 100%;
  border: none;
  padding: 10px;
}

textarea#cuerpo-nota {
  min-height: 30vh;
}

/*FOOTER*/

.footer {
  width: 100%;
  height: auto;
  background-color: #252627;
  display: flex;
  justify-content: space-between;
  padding: 10px 15% 10px 15%;
  margin-top: auto;
  position: fixed;
  bottom: 0;
}

/* Estilos para el contenedor de íconos del footer */

.footer-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 5%;
}

/* Estilo para los íconos del footer */
.footer-icons span,
.footer-icons button {
  font-size: 40px;
  color: #F4E5E0;
}

/* Estilo para el enlace del ícono "home" */
.footer-icons a {
  color: #F4E5E0;
  text-decoration: none;
}

#borrar-nota {
  height: 60px;
}

/*RESPONSIVE*/

@media only screen and (min-width: 320px) and (max-width: 675px) {

  textarea#cuerpo-nota {
    min-height: 50vh;
    font-size: 16px;
    line-height: 23px;
  }

}