/* Estilos del encabezado */
.titulo-avatar-buscador {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin: 20px 35px;
  background-color: #F4E5E0;
}

.titulo-avatar {
  display: flex;
  align-items: center;
}

.titulo-avatar h1 {
  font-size: 2em;
  margin-right: 10px;
}

.titulo-avatar h1 span {
  margin-right: 5px;
}

.avatar {
  width: 100px;
  height: 100px;
  background-image: url(../img/avatar_uno.svg);
  background-size: cover;
  background-position: center;
  margin-top: -10px;
}

.buscador {
  display: flex;
  align-items: center;
  background-color: #252627;
  padding: 5px;
  border-radius: 20px;
  max-height: 40px;
  width: 50%;
}

.buscador input {
  background-color: transparent;
  border: none;
  color: #F4E5E0;
  margin-right: 10px;
  width: 100%;
}

.material-symbols-outlined {
  color: #F4E5E0;
  font-size: 27px;
  margin-right: 10px;
}

/* Estilos del contenido y las notas */
.contenido {
  width: calc(100vw - 60px);
  height: 100vh;
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: flex-start;
  margin: 10px;
}

.nueva-nota {
  min-width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px; /* Espacio entre .nueva-nota y .centrar-grid */
}

.centrar-grid {
  flex: 1; 
  display: flex;
  justify-content: flex-start; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
}

.notas-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
  margin-bottom: 100px;
}

.nota {
  height: auto;
  padding: 10px;
  border-radius: 15px;
  position: relative;
  font-size: 16px;
  line-height: 1.3;
  background-color: #F4E5E0;
  border-width: 15px 2px 2px 15px;
  border-style: solid;
  border-color: #F27E5A;
}
.nota p {
  margin-bottom: 0.4em;
}

.nota .contenido-nota {
  margin-bottom: 30px;
}

.nota .contenido-nota p {
  line-height: 1.5;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

h3 {
  margin-bottom: 15px;
}

.flecha {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.circulo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  background-color: #252627;
  color: #F4E5E0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.circulo.oculto {
  display: none;
}

.circulo.mostrar {
  opacity: 1;
  transform: translateY(0%);
}

.material-icons {
  font-size: 24px;
  color: #F27E5A;
}
.boton-subir{
  position: fixed;
  right: 32px;
  display: flex;
  transition: all .4s;
}
.boton-subir.enlace_activo{
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
}
html {
  scroll-behavior: smooth;
}

/*RESPONSIVE*/

@media only screen and (min-width: 320px) and (max-width: 767px) {
  div.avatar{
    display:none;
  }
  div.buscador{
    display: none;
  }
 div.contenido{
  flex-direction: column;
  align-items: flex-start;
  height: auto;
 } 

 div.nueva-nota{
  flex-direction: row;
 }
 div.circulo{
  margin-right: 10px;
  width: 35px;
  height: 35px;
 }

 
 .notas-grid {
  align-self: flex-start; /* Agregamos esta línea */
  margin-top: 20px; 
 }

 div.titulo-avatar-buscador{
  min-height: 100px;
 }
}