.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 140px);
}

.contenido-centrado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.resultado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.lista-resultados {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.resultado-item {
  margin-bottom: 10px;
}

.resultado-item a {
  color: #252627;
}

.resultado-item a h3 {
  margin-bottom: 10px;
  font-size: 20px;
}