.titulo-logo-buscador {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin: 20px 35px;
  background-color: #F4E5E0;
}

.titulo-logo {
  display: flex;
  align-items: center;
}

.titulo-logo h1 {
  font-size: 2em;
  margin-right: 10px;
}

.titulo-logo h1 span {
  margin-right: 5px;
}

.logo {
  width: 100px;
  height: 100px;
  background-image: url(../img/logo.svg);
  background-size: cover;
  background-position: center;
}

.buscador {
  display: flex;
  align-items: center;
  background-color: #252627;
  padding: 5px;
  border-radius: 20px;
  max-height: 40px;
}

.buscador input {
  background-color: transparent;
  border: none;
  color: #F4E5E0;
  margin-right: 10px;
  width: 100%;
}

form {
  width: 50%;
}

.material-symbols-outlined {
  font-size: 27px;
  margin-right: 10px;
}

/* Estilos del contenido y las notas */
.contenido {
  height: 100vh;
  margin: 20px;
  display: flex;
}

.centrar-grid {
  width: 100%;

}

.nueva-nota {
  min-width: 100px;
  margin-right: 20px;
}

.circulo,
.boton-subir {
  cursor: pointer;
}

.notas-contenedor {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-auto-flow: dense;
  gap: 20px;
  margin-top: 30px;
  margin-bottom: -20px;
}

a.nota {
  height: 150px;
  padding: 10px;
  border-radius: 15px;
  position: relative;
  font-size: 16px;
  line-height: 1.3;
  background-color: #F4E5E0;
  border-width: 15px 2px 2px 15px;
  border-style: solid;
  border-color: #F27E5A;
  transition: transform 0.2s ease-in-out;
}

.nota:active {
  transform: scale(0.95);
}

.nota p {
  margin-bottom: 0.4em;
}

.circulo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #252627;
  color: #F4E5E0;
}

/* Estilo para el botón "Subir" */
.boton-subir {
  position: fixed;
  right: 32px;
  bottom: 32px;
  display: flex;
  transition: all .4s;
}

.boton-subir.enlace_activo {
  pointer-events: auto;
  opacity: 1;
}

.flecha {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #F27E5A;
}

/*RESPONSIVE*/

@media only screen and (min-width: 320px) and (max-width: 767px) {
  div.logo {
    display: none;
  }

  div.buscador {
    display: none;
  }

  div.contenido {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
  }

  div.nueva-nota {
    flex-direction: row;
  }

  .boton-subir {
    top: unset;
    bottom: 32px;
  }
}

div.notas-contenedor {
  margin-bottom: 50px;
}

.notas-grid {
  align-self: flex-start;
  margin-top: 20px;
  grid-row: 1 / span 3;
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
  margin-bottom: 100px;
}

div.titulo-logo-buscador {
  min-height: 100px;
}