body {
    background-image: url(../img/crear-cuenta-img.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

p {
    color: #F4E5E0;
}

.contenedor {
    display: flex;
    height: 100vh;
}

div.inicio-sesion,
div.crear-cuenta {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    line-height: 80px;
}

div.avatar {
    width: 100px;
    height: 100px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

div.avatar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #F4E5E0;
}

div.avatar-imagen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: none;
}

.avatar-uno {
    background-image: url(../img/avatar_uno.svg);
}

.avatar-dos {
    background-image: url(../img/avatar_dos.svg);
}

.avatar-tres {
    background-image: url(../img/avatar_tres.svg);
}

.avatar-cuatro {
    background-image: url(../img/avatar_cuatro.svg);
}

.avatar-cinco {
    background-image: url(../img/avatar_cinco.svg);
}

button.doble {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

span.material-icons-outlined.icono-ojo,
span.material-icons-outlined.icono-ojo-cerrado {
    color: #F4E5E0;
}

div.inicio-sesion {
    text-align: center;
}

div.crear-cuenta button {
    margin-left: 25%;
    margin-top: 50px;
}

div.avatar {
    margin-left: 30%;
}

.material-symbols-outlined.flecha {
    -webkit-transform: rotateY(180deg) rotateX(-180deg) translateZ(256px);
}

div.botones {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar-imagen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: none;
    clip-path: circle(50%);
}

.form {
    padding-left: 40px;
}

div.inicio-sesion h2 {}

.alerta {
    padding: 10px;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    color: #721c24;
    margin-bottom: 10px;
}

.alerta strong {
    font-weight: bold;
}

.alerta ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.alerta li {
    margin-bottom: 5px;
}

.mensaje-error {
    background-color: #F4E5E0;
    color: #252627;
    font-family: 'Nunito', sans-serif;
    padding: 10px;
    border-radius: 10px;
    max-width: 300px;
    line-height: 1.5;
    margin-top: 5px;
    padding-left: 20px;
}


@media only screen and (min-width: 676px) and (max-width: 1024px) {
    body {
        background-image: url(../img/crear-cuenta-img_der.svg);
    }

    .boton-reverso.doble {
        border-radius: 20px;
        background-color: #252627;
        color: #F4E5E0;
        transition: transform 0.3s;
        margin-bottom: 20px;
    }

    .boton.doble {
        border-radius: 20px;
        background-color: #F4E5E0;
        color: #252627;
        transition: transform 0.3s;
        margin-bottom: 20px;
    }

    div.inicio-sesion h2 {
        color: #F4E5E0;
    }

    input.form {
        background-color: transparent;
        border: none;
        padding: 0.5rem 1rem;
        outline: none;
        font-family: 'Nunito', sans-serif;
        font-size: 1em;
        color: #252627;
    }

    input.form::placeholder {
        color: #252627;
    }

    input.form:focus {
        box-shadow: none;
    }

    span.material-icons-outlined.icono-ojo,
    span.material-icons-outlined.icono-ojo-cerrado {
        color: #252627;
    }
}

@media only screen and (min-width: 320px) and (max-width: 675px) {
    body {
        background-image: none;
    }

    div.crear-cuenta {
        background-image: url(../img/crear-cuenta-img-movil.svg);
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 250px;
        padding-top: 50px;
    }

    div.avatar,
    button.boton-reverso.doble {
        margin-left: 40px;
    }

    div.inicio-sesion,
    div.crear-cuenta {
        height: auto;
        margin-bottom: 50px;
        justify-content: flex-start;
    }

    .contenedor {
        flex-direction: column;
        height: auto;
    }

    div.inicio-sesion {
        margin-top: -150px;
        line-height: 50px;
    }

    div.crear-cuenta button {
        margin: 30px auto;
    }

    div.avatar {
        margin-bottom: 20px;
    }
}
