* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 1.3em;
  background-color: #F4E5E0;
}

h1 {
  font-family: 'Shadows Into Light Two', cursive;
  font-size: clamp(4rem, 8vw, 8rem);
  transition: font-size 0.3s;
  color: #252627;
  margin-bottom: 1rem;
}

h2 {
  font-size: clamp(0.7rem, 8vw, 3rem);
  transition: font-size 0.3s;
  color: #252627;
  margin-bottom: 1rem;
}

input {
  background-color: transparent;
  border: none;
  padding: 0.5rem 1rem;
  outline: none;
  font-family: 'Nunito', sans-serif;
  font-size: 1em;
  color: #F4E5E0;
}

input::placeholder {
  color: #F4E5E0;
}

input:focus {
  box-shadow: none;
}

.barra-negra {
  background-color: #252627;
  height: 70px;
  width: 100%;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
  font-family: 'Nunito', sans-serif;
  font-size: 1.2em;
  padding: 0.5rem 1rem;
}

.boton {
  border-radius: 20px;
  background-color: #252627;
  color: #F4E5E0;
  transition: transform 0.3s;
  margin-bottom: 20px;
}

.boton:hover {
  transform: translateY(2px);
}

.boton:active {
  transform: translateY(4px);
}

.boton-reverso {
  border-radius: 20px;
  background-color: #F4E5E0;
  color: #252627;
  transition: transform 0.3s;
  margin-bottom: 20px;
}

.boton-reverso:hover {
  transform: translateY(2px);
}

.boton-reverso:active {
  transform: translateY(4px);
}

a {
  text-decoration: none;
  color: inherit;
}

.material-icons-outlined {
  font-family: 'Material Icons Outlined';
  font-size: 1.2em;
  vertical-align: middle;
  margin-left: 5px;
  cursor: pointer;
  color: #F4E5E0;
}

.circulo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  background-color: #252627;
  color: #F4E5E0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
