.contenido {
  margin: 50px;
  display: flex;
  flex-direction: column;
}

h3 {
  margin: 0 0 50px 30px;
}

.texto {
  width: 100%;
  height: auto;
  padding: 20px;
  border-left: 3px solid #252627;
  align-self: center;
}

.texto p {
  text-align: justify;
}

.resaltado {
  width: 100%;
  height: auto;
  padding: 50px;
  background-color: #f27e5ab3;
  border-radius: 15px;
}

/* Estilo para los inputs transparentes */
.transparent-input {
  border: none;
  outline: none;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  width: 100%;
  resize: vertical;
}

#titulo-nota {
  font-family: 'Shadows Into Light Two', cursive;
  font-size: clamp(4rem, 8vw, 8rem);
  transition: font-size 0.3s;
  color: #252627;
  margin-bottom: 1rem;
}

/*FOOTER*/

.footer {
  width: 100%;
  height: auto;
  background-color: #252627;
  display: flex;
  justify-content: space-between;
  padding: 10px 15% 10px 15%;
  margin-top: auto;
  position: fixed;
  bottom: 0;
}

/* Estilos para el contenedor de íconos del footer */
.footer-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 5%;
}

/* Estilo para los íconos del footer */
.footer-icons span,
.footer-icons button {
  font-size: 40px;
  color: #F4E5E0;
}

/* Estilo para el enlace del ícono "home" */
.footer-icons a {
  color: #F4E5E0;
  text-decoration: none;
}

/*RESPONSIVE*/

@media only screen and (min-width: 320px) and (max-width: 675px) {

  div.titulos h3 {
    font-size: 20px;
    margin-bottom: 15px;
  }

  div.titulos{
    text-align: left;
  }

  div.contenido {
    text-align: center;
    margin: 50px 20px;
  }

  div.resaltado {
    padding: 15px;
  }

  div.resaltado p {
    text-align: left;
    font-size: 16px;
    line-height: 25px;
  }
}